
\.DS_Store

Learning/\.idea/Learning\.iml

Learning/\.idea/misc\.xml

Learning/\.idea/modules\.xml

Learning/\.idea/workspace\.xml

Learning/\.ipynb_checkpoints/

Pre-processing/\.ipynb_checkpoints/
